html {
}
body {
    margin: 0.5rem;
}
h1 {
    background: #44f;
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.1rem 0.5rem;
}
h2 {
    background: #ccf;
    margin: 0.5rem 0;
    padding: 0.1rem 0.5rem;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
th, td {
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    padding: 0.2rem 0.5rem;
}
thead {
    background-color: #eee;
    position: sticky;
    top: 0;
}
label {
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: inline-block;
    white-space: nowrap;
}
* {
    text-size-adjust: 200%;
}
#skills {
    border: solid 2px #eee;
    height: 50vh;
    overflow: hidden scroll;
}
#units table {
    border: solid 1px #ccc;
}
#units td {
    padding: 0.0rem 0.5rem;
}
.button {
    margin: 0.2rem;
    padding: 0.2rem 1rem;
    white-space: nowrap;
}
.buttons {
    display: flex;
    justify-content: flex-end;
}
.unitSkills {
    width: 100%;
    table-layout: fixed;
}
.inputSkillCount {
    width: 4rem;
}
.Absolute {
    background-color: hsl(30, 100%, 95%);
}
.Life50, .Life100, .Heart8 {
    background-color: hsl(120, 100%, 90%);
}
.Muse, .Aqours {
    background-color: hsl(60, 100%, 90%);
}
.FullCombo {
    background-color: hsl(270, 100%, 90%);
}
.Smile, .Pure, .Cool {
    background-color: hsl(30, 100%, 90%);
}
.Heart8_Plus {
    background-color: hsl(180, 100%, 90%);
}
.Perfect50 {
    background-color: hsl(330, 100%, 95%);
}
.empty {
    color: #aaa;
}
.slotSkill {
    border-bottom: none;
}
.slotValue {
    font-weight: bold;
}
.slotEmpty {
    color: #eee;
}
.slotInvalid {
    color: transparent;
    background-color: #555;
}
