html {
}
body {
    padding: 0.5em;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
th, td {
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 0.2em 0.5em;
}
label {
    padding: 0.2em 0.5em;
    margin: 0.2em;
    border-radius: 0.2em;
}
thead {
    background-color: #eee;
    position: sticky;
    top: 0;
}
#skills {
    border: solid 2px #eee;
    height: 50vh;
    overflow: hidden scroll;
}
#units table {
    border: solid 1px #ccc;
}
.unitSkills {
    width: 100%;
    table-layout: fixed;
}
.Absolute {
    background-color: #fed;
}
.Life50, .Life100, .Heart8 {
    background-color: #efe;
}
.FullCombo, .Perfect50 {
    background-color: #fef;
}
.Muse, .Aqours {
    background-color: #ffe;
}
.Smile, .Pure, .Cool {
    background-color: #fdd;
}
.Heart8_Plus {
    background-color: #dff;
}
.empty {
    color: #aaa;
}
